<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5 align-items-center align-middle " style="min-height: 600px">

            <h1 class="font-weight-light text-center ">A cerca de mi </h1>
            <div class="row align-items-center h-75">                
                <div class="col-md-2"> </div>
                <div class="col-md-6">   
                    <p class="lead text-center">¡Hola! mi nombre es <strong> Lizzeth Luque</strong>, <br>
                     Soy una apasionada por el desarrollo web y la programación en general y como muestra he generado este simple ejemplo de forma autodidacta.<br>Te invito a conocer mas de mis habilidades. Para ver mi cv puedes dar click <a target="_blank" href="*">aquí</a></p>
                     <p class="lead text-center" >También puedes contactarme al correo <strong>luque_lopez@@yahoo.com</strong> o ver el código fuente de este ejemplo <a href="https://github.com/LizzyLuque/AWS_Ejemplo-Simple" target="_blank">aquí</a> </p>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid mx-auto" src="assets/images/lizzy.png">
                </div>  
                            
            </div>

        </div>
    </div>
</div>
