<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5 align-items-center">

      <div class="row align-items-center">
        <div class="col">
          
          <h2 class="font-weight-light text-center mb-4">Ejemplo de arquitectura sin servidor </h2>
          <div class="w-75 mx-auto">
              <img class="img-fluid mx-auto"
              
              src="https://d1.awsstatic.com/Test%20Images/Kate%20Test%20Images/Serverless_Web_App_LP_assets-12.da876b91b6451199d3582b6cc81dc17ff7e5791f.png" 
              
              alt="Responsive image">
                
          </div>
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col">
          <p class="lead text-justify ">Ejemplo de arquitectura sin servidor utilizando los servicios de amazon descritos en el diagrama anterior. Es importante mencionar que en este ejmplo no se usa Amazon cognito, dado que el ejemplo es muy simple y no contine sesiones. Las funciones creadas en Amazon Lambda fueron programadas en NodeJS. Los lenguajes y frameworks utilizados en el front son los siguientes:</p>

        </div>
      </div>

      <div class="row mt-4 ">
        <div class="col-md-3"></div>
        <div id="logo" class="col-md-2 mx-auto"><img src="assets/images/typescript.svg" class="app-logo mx-auto img-thumbnail"
            alt="Logotipo" /></div>
        <div id="logo" class="col-md-2  mx-auto"><img src="assets/images/js.jpg" class="app-logo mx-auto img-thumbnail"
            alt="Logotipo" /></div>
        <div id="logo" class="col-md-2 mx-auto"><img src="assets/images/angular.svg" class="app-logo mx-auto img-thumbnail"
            alt="Logotipo" /></div>
        <div class="col-md-3"></div>
      </div>
      <div class="row mb-4">
        <div class="col-md-3"></div>
        <div id="logo" class="col-md-1 mx-auto"><img src="assets/images/css3.jpg" class="app-logo mx-auto img-thumbnail"
            alt="Logotipo" /></div>
        <div id="logo" class="col-md-1 mx-auto"><img src="assets/images/html5.jpg" class="app-logo mx-auto img-thumbnail"
            alt="Logotipo" /></div>
        <div id="logo" class="col-md-1 mx-auto"><img src="assets/images/bootstrap.png" class="app-logo mx-auto img-thumbnail"
            alt="Logotipo" /></div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>